body {
    font-family: Baskerville, 'Times New Roman', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

p {
    font-family: Arial, sans-serif; /* Use Arial for paragraphs */
}

header, section, footer {
    padding: 20px 0;
}

header {
    background-color: #343a40;
}

header .navbar-brand, 
header .nav-link {
    color: #ffffff;
}

header .nav-link:hover {
    color: #cccccc;
}

footer {
    background-color: #343a40;
    color: #ffffff;
}

footer a {
    color: #cccccc;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.carousel-control-prev .carousel-control-prev-icon,
.carousel-control-next .carousel-control-next-icon {
    background-color: blue; /* Change to your desired color */
}

.carousel-control-prev .carousel-control-prev-icon {
    margin-right: 120px;
}

.carousel-control-next .carousel-control-next-icon {
    margin-left: 120px;
}
